<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       ">
       
	<!--The Active MQ messaging Queue configuration  -->    
	<!-- Active MQ WebConsole URL : http://localhost:8161/ -->   
	
   <!--  <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616/" />
	</bean>
	<bean id="jmsConfig" 
	   class="org.apache.camel.component.jms.JmsConfiguration">
	   <property name="connectionFactory" ref="jmsConnectionFactory"/>
	   <property name="concurrentConsumers" value="10"/>
	</bean>   
    <bean id="activemq"
            class="org.apache.activemq.camel.component.ActiveMQComponent">
            <property name="configuration" ref="jmsConfig"/>
    </bean>
    	 --> 
       
       
       
	<camelContext xmlns="http://camel.apache.org/schema/spring" >
		<route>
			<from uri="direct:SpringXMLRouteStart" />
			<log message="Split by article Element"/>
			
			<!--To printout the filter routing message to the external file  -->
			<!-- <split>
				<xpath>//order[@product='electronics']/items</xpath>
				<to uri="file:src/main/resources/orderxmlroute/"  />
			</split> -->
			
			
			<!--To send the filter routing message to the Messaging Queue  -->
			<!-- <choice>
	            <when>
	                <xpath>//order[@product='electronics']/items</xpath>
	                <to uri="activemq:queue:Q1"/>
	            </when>
	            <when>
	                <xpath>//order[@product='books']/items</xpath>
	                <to uri="activemq:queue:Q2"/>
	            </when>
	            <otherwise>
	                <to uri="activemq:queue:Q3"/>
	            </otherwise>
       	     </choice> -->
			
			
			
			
			<!-- To printout the routing message on the IDE console  -->
			<!-- <to uri="stream:out" /> -->
		</route>
	
	</camelContext>

</beans>
